<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {% if site.email %}
              <li>
                {% include icon-mail.html email=site.email %}
              </li>
              {% if site.pgp_email_id %}
                <li>
                  {% include icon-pgp.html pgp_desc=site.pgp_email_fp pgp_filename="carlosmelero-key.asc" pgp_id=site.pgp_email_id %}
                </li>
              {% endif %}
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          {% if site.pgp_code_id %}
            <li>
              {% include icon-pgp.html pgp_desc=site.pgp_code_fp pgp_filename="carlosmelero-key.asc" pgp_id=site.pgp_code_id %}
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>
